<app-add-note></app-add-note>


<div class="pt-36 w-full  min-h-[72rem] relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-5/6 mx-auto  text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>

      <th scope="col" class="px-6 py-3">
        ID
      </th>
      <th scope="col" class="px-6 py-3">
        Title
      </th>
      <th scope="col" class="px-6 py-3">
        Description
      </th>

      <th scope="col" class="px-6 py-3">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
      @defer (when noteService.loadingSignalComputed()) {
        @for (note of noteService.notesSignalComputed(); track note) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ note.id }}
            </th>
            <td class="px-6 py-4">
              {{ note.title }}
            </td>
            <td class="px-6 py-4">
              {{ note.description ? note.description : "No hay descripcion" }}
            </td>
            <td class="flex items-center px-6 py-4">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</a>
            </td>
          </tr>
        } @empty {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

            <th scope="row" colspan="4"
                class=" text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              No hay notas para este usuario
            </th>

          </tr>
        }
      } @placeholder (){
        <p>Estoy cargando panita</p>
      }
    </tbody>

  </table>
</div>
